In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="darkgrid")
import os
os.getcwd()

'/home/xtofl/punten'

In [70]:
[print(pd.read_csv('rapport{}.tsv'.format(i), '\t')) for i in [4, 5]]

                    Vakken  punt  max  gem  80+  70+  60+  50+  50-  positie
0              Hoofdvakken   8.4   10  7.7    7    9    4    0    0      1.0
1            Aardrijskunde   8.1   10  8.2   11    7    2    0    0      1.0
2                 Biologie   7.8   10  8.0    9    8    2    1    0      2.0
3                   Chemie   8.2   10  8.2   15    3    1    1    0      1.0
4                   Fysica   7.7   10  7.9   10    5    5    0    0      2.0
5               Nederlands   8.1   10  7.7   10    3    6    1    0      1.0
6                 Wiskunde   9.0   10  7.6    5   10    4    1    0      NaN
7            Wiskunde plus   8.9   10  6.5    2    6    8    7    3      1.0
8            Andere Vakken   7.4   10  7.5    4   11    5    0    0      2.0
9                   Engels   6.7   10  6.5    1    3   11    3    2      NaN
10               Esthetica   6.2   10  7.4    6    5    8    1    0      3.0
11                   Frans   6.7   10  6.8    0    7   10    1    1      3.0
12            Geschiedenis   7.3   10  7.8    9    5    5    1    0      2.0
13              Godsdienst   8.0   10  8.6   12    7    1    0    0      2.0
14  Lichamelijke opvoeding   9.0   10  7.9   22   10    8    2    0      1.0
                    Vakken  punt  max  gem  80+  70+  60+  50+  50-  positie
0              Hoofdvakken   7.2   10  7.3    3    9    8    0    0        2
1            Aardrijskunde   7.9   10  8.8   18    2    0    0    0        2
2                 Biologie   5.8   10  5.9    0    5    2    7    6        4
3                   Chemie   9.0   10  7.6   10    2    4    4    0        1
4                   Fysica   7.8   10  7.8    7    9    4    0    0        2
5               Nederlands   7.0   10  7.0    3    7    6    3    0        3
6                 Wiskunde   6.5   10  6.9    4    3    8    5    0        3
7            Wiskunde plus   7.3   10  7.1    3   12   10    1    0        2
8            Andere Vakken   8.4   10  8.0   10    9    1    0    0        1
9                   Engels   9.5   10  8.3   10    7    1    0    0        1
10               Esthetica   8.7   10  8.6   19    1    0    0    0        1
11                   Frans   7.9   10  6.9    4    5    5    5    1        2
12            Geschiedenis   8.4   10  8.0   12    5    2    1    0        1
13              Godsdienst   9.0   10  8.9   16    4    0    0    0        1
14  Lichamelijke opvoeding   7.7   10  7.8   14   17   10    2    0        2

[None, None]

In [33]:

rapporten = {
    "20180328": {
        "wiskunde": {
            "score": 9,
            "verdeling": [5, 10, 4, 1, 0],
            "groep": 1
        },
        "wiskunde extra": {
            "score": 9,
            "verdeling": [5, 10, 4, 1, 0],
            "groep": 1
        },
    },
    "20180609": {
        "wiskunde": {
            "score": 6.5,
            "verdeling": [4, 3, 8, 5, 0],
            "groep": 2
        },
        "wiskunde extra": {
            "score": 6.5,
            "verdeling": [4, 3, 8, 5, 0],
            "groep": 2
        },
    }
}

In [3]:
def per_vak():
    vakken = next(iter(rapporten.values())).keys()
    return {vak: {datum: rapport[vak] for datum, rapport in rapporten.items()} for vak in vakken}
per_vak()

{'wiskunde': {'20180328': {'groep': 1,
   'score': 9,
   'verdeling': [5, 10, 4, 1, 0]},
  '20180609': {'groep': 2, 'score': 6.5, 'verdeling': [4, 3, 8, 5, 0]}},
 'wiskunde extra': {'20180328': {'groep': 1,
   'score': 9,
   'verdeling': [5, 10, 4, 1, 0]},
  '20180609': {'groep': 2, 'score': 6.5, 'verdeling': [4, 3, 8, 5, 0]}}}

In [23]:
vakrapport4 = pd.DataFrame({
    'Vakken': ['Hoofdvakken', 'Aar', 'Bio', 'Chem', 'Fys', 'Ned', 'Wis', 'Wis+'],
    'Punt': [8.4, 8.1, 7.8, 8.2, 7.7, 8.1, 9, 8.9],
    'Gem':  [7.7, 8.2, 8.0, 8.2, 7.9, 7.7, 7.6, 6.5],
    '80+':  [7, 11, 9, 15, 10, 10, 5, 2],
    '70+':  [9, 7, 8, 3, 5, 3, 10, 5, 2],
    '60+':  [8,     0,   2, 4, 4, 6, 8, 10],
    '50+':  [0,     0,   7, 4, 0, 3, 5, 1],
    '50-':  [0,     0,   6, 0, 0, 0, 0, 0],
    'q': [2, 2, 4, 1, 2, 3, 3, 2]
})
vakrapport5 = pd.DataFrame({
    'Vakken': ['Hoofdvakken', 'Aar', 'Bio', 'Chem', 'Fys', 'Ned', 'Wis', 'Wis+'],
    'Punt': [7.2, 7.9, 5.8, 9, 7.8, 7, 6.5, 7.3],
    'Gem':  [7.3, 8.8, 5.9, 7.6, 7.8, 7.0, 6.9, 7.1],
    '80+':  [3,    18,   0, 10, 7, 3, 4, 3],
    '70+':  [9,     2,   5, 2, 9, 7, 3, 12],
    '60+':  [8,     0,   2, 4, 4, 6, 8, 10],
    '50+':  [0,     0,   7, 4, 0, 3, 5, 1],
    '50-':  [0,     0,   6, 0, 0, 0, 0, 0],
    'q': [2, 2, 4, 1, 2, 3, 3, 2]
})

ValueError: arrays must all be same length

In [22]:
vakrapport4.head()
vakrapport5.head()

   50+  50-  60+  70+  80+  Gem  Punt       Vakken  q
0    0    0    8    9    3  7.3   7.2  Hoofdvakken  2
1    0    0    0    2   18  8.8   7.9          Aar  2
2    7    6    2    5    0  5.9   5.8          Bio  4
3    4    0    4    2   10  7.6   9.0         Chem  1
4    0    0    4    9    7  7.8   7.8          Fys  2